@import 'variables';

#list {
    position: absolute;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding-right: 0;
    padding-top: 0;
    height: 100%;
    width: 100%;
}

.ui.items {
    flex-grow: 1;
    margin: 0.5em;
    cursor: pointer;

    .content {
        padding-left: 1rem;
    }

    .header {
        line-height: 1.8rem;
        padding-top: 0.4rem;
        width: 72%;
    }

    .item {
        .recommendation {
            padding-top: 0.4rem;
            position: absolute;
            right: 1rem;
            top: 2.4rem;

            .score {
                font-size: 1.4rem;
            }

            div { 
                font-size: 0.8em;
                display: block;
                line-height: 1rem;
                text-align: right;
            }
        }

        .moreInfo {

        }

        .distance {
            padding-left: 1rem;
        }
    }   
}

.openNow {
    display: block;
    color: $color-base-green-deep;
    padding-top: $unit-nano;
    padding-bottom: $unit-nano;
}

.popularNow {
    color: $color-base-violet-bright;
}

.hoursToday {
    color: $color-base-gray-700;
}



#list .listSearch input {
    border-width: 2px;
    border-radius: 3em;
}

#list .datepicker {
    border: solid 2px rgba(34,36,38,.15); 
    border-left: solid 1px rgba(34,36,38,.05);
    border-bottom-right-radius: 3em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3em;
}

#list .datepicker .icon {
    background: none;
    border-width: 2px;
    border-left-width: 0px;
    border-bottom-right-radius: 3em;
    border-top-right-radius: 3em;
    font-size: 1.2em;
    vertical-align: middle;
}

.listType {
    margin-left: 2% !important;
    width: 98%
}

.ui.inverted.purple .button {
    color: $color-purple !important;
}

ui.inverted.purple.buttons .active.button {
    background-color: $color-purple !important;
    color: #FFFFFF !important
}

.list_pagination {
    background: #FFFFFF !important;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
}
