@import 'variables.scss';

/* Styles for Panel */
.details {
    padding-bottom: 20em;
    scroll-behavior: smooth;

    h2 {
       font-family: $font-family-nantes;
        font-size: 2.4em;
        font-weight: 500;
        width: 80%;
    }
}

.details .header {
    background-color: $color-base-white;
    position: sticky;
    padding-top: $unit-small;
    top: 0;
    z-index: 10;
}

.SocialShare {
    padding: 1rem;

    .share-buttons, 
    .ui.button {
        float: left;
        margin-right: 1rem;

        .react-share__ShareButton {
            margin-right: 1rem;
        }
    }

}

.name {
    position: relative;
    padding-top: $unit-tiny;

    .recommendation {
        color: $color-base-purple-bright;
        position: absolute;
        right: 0px;
        top: $unit-small;
        text-align: right;

        .score {
            display: block;
            font-size: $unit-small;
            line-height: $unit-small;
            padding-bottom: $unit-tiny;
        }

        .reason {
            padding-top: $unit-tiny;
        }

    }
}

.tabs {
    transition: 200ms;
}

h4 {
    color: $color-base-gray-600;
    font-family: $font-family-public;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: $unit-tiny;
    padding-top: 0.2rem;
}

.placeImage {
    max-height: 300px;
    object-fit: cover;
}

.recomendation .header {
    font-size: 1em;
    color: $color-green !important;
}

.recomendation img {
    height: 1.4em;
    width: 1.4em;
}

