@import 'vibemap-constants/design-system/build/scss/_variables.scss';

nav.top-menu {
  background: black;
  padding: 0.5rem 0;
  text-align: right;
  /*
  display: none;
  */

  .container {
    margin-left: 7em;
    margin-right: 7em;
  }

  ul.menu {
    border: none;
    margin: 0;
    white-space: nowrap;

    li {
      display: inline-block;
      margin-right: 2.5rem;
      margin-bottom: 0.5rem;
      padding-top: 0.5em;

      &:last-child {
        margin-right: 0;
      }

      a,
      button {
        font-size: 1rem;
        color: $color-base-white;
        background: transparent;
        padding: 0;
        text-decoration: none;
        display: inline-block;
        position: relative;
        margin-bottom: 0;

        &:after {
          content: '';
          height: 1px;
          background: $color-base-white;
          width: 100%;
          position: absolute;
          top: 90%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          transition: $transitions-base-default;
        }
        &:hover:after {
            opacity: 1;          
        }

        svg {
          width: 2.2rem;
          display: inline-block;
          padding-left: 0.75rem;
          vertical-align: middle;
          position: relative;
          top: -0.1rem;
        }
      }
    }
  }
}

.pageMenu {
  padding-right: 6em;

  .pageLink {
    a {
      color: $color-base-black !important;
      &.active {
        font-weight: 700 !important;
      }
    }

    font-size: 1.3em;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500 !important;
  }
}

