/* TODO: Required until we swap in a customer version of semantic UI */
.vector {
    width: 1.2em !important;
    height: 1.2em !important;
    background-image: url(/images/vector.svg) !important;
    background-size: 100%;
    background-repeat: no-repeat;
}

.sketchMap .line {
    width: 1.2em !important;
    height: 1.2em !important;
    background-image: url(/images/line.svg) !important;
    background-size: 100%;
    background-repeat: no-repeat;
}

.rectangle {
    width: 1.2em !important;
    height: 1.2em !important;
    background-image: url(/images/rectangle.svg) !important;
    background-size: 100%;
    background-repeat: no-repeat;
}

.menuIcon {
    z-index: 30;
}