@import '../styles/variables.scss';

.DetailsPage {
    h2 {
        font-size: 5em;
        line-height: 1em;
        font-family: $font-family-nantes;
        font-weight: 400;
        width: 80%;
    }

    .headerMenu {
        position: fixed;
        top: 0;
    }

    .header .ui.menu {
        font-family: $font-family-public;
        font-size: 1.4em;
        padding-top: $unit-tiny;

        .item {
            margin-right: 4rem;
        }

    }

}

.DetailsPage.mobile {
    padding-top: 6rem;

    .header,
    #vibe .segment,
    #plan .segment,
    #tips .segment,
    #more .segment {
        padding-left: $unit-tiny;
        padding-right: $unit-tiny;
    }

}

.DetailsPage.web {
    /* TODO: Handle in menu styles */
    .top-menu,
    #header {
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    #header {
        top: 3rem;
    }

    .leftPanel {
        top: 17em;
    }
    
    #vibe {
        .image {
            min-height: 24rem;
        }

        h4:first-child {
            display: none;
        }
    }

    .header {
        background-color: $color-base-white;
        padding-top: 3em;
        position: fixed;
        top: 8em;
        width: 83vw;
        z-index: 10;

        .name {
            padding-top: 5rem;

            .category {
                position: absolute;
                top: $unit-small;
            }
            
            .recommendation {
                position: absolute;
                height: 8rem;
                width: 10em;
                bottom: 0;
                right: 0;

                .score {
                    bottom: 0;
                    position: absolute;
                    right: 0;
                    size: 5rem;                                
                }

                .reason {
                    position: absolute;
                    top: $unit-small;
                    right: 0;
                }

            }
 
        }

    }

    #content {

        .profile {
            padding-top: 10rem;
            padding-bottom: 10em;
            section {
                scroll-margin-top: 26rem;
            }
        }

        .map {
            position: fixed;
            top: 27rem;
            padding-bottom: 4rem;
            min-width: 30vw;

            .address {
                background: $color-base-black;
                color: $color-base-white;
                margin-top: -3rem;
                padding: $unit-tiny;
                position: relative;
                z-index: 10;
            }
        }

        h2 {
            font-size: 3em;
            font-family: $font-family-nantes;
        }

        h4 {
            color: $color-base-gray-600;
            font-family: $font-family-public;
            font-size: 1.2em;
            font-weight: 300;
            text-transform: uppercase;
            padding-bottom: $unit-tiny;
            padding-top: 0.2rem;
        }
    }

    .footer {
        height: 20rem;
        background-color: $color-base-gray-100;
    }
}