@import '../styles/variables.scss';

@import 'vibemap-constants/design-system/build/scss/_variables.scss';

html, body, #root, div.App, div.App > div {
  height: 100%;
  font-family: 'Public Sans', sans-serif;
}

#root, .Main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#header, #navigation, #content {    
    display: flex;    
    justify-content: left;    
}

#header {        
    background-repeat: no-repeat;
    background-position: 12em;
    background-size: 12em;
    height: 6%;
    min-height: 80px;
    max-height: 8%;
    width: 100%;
    border-radius: 0;
}

#navigation {
    border-bottom: solid 1px $color-dark-gray;
    height: 6%;
    min-height: 80px;
    max-height: 100px;
    padding-left: 1em;
    z-index: 100;    
}

#header .ui.dropdown {
    //background: rgba(0,0,0,0.4);
    //color: #DDDDDD;
    max-height: 3em;
    width: 8em;
}

/* List */
.list_details {
    display: flex;
    align-items: stretch;
    flex-direction: column;    
    background: #FFFFFF;
    border-right: solid 1px #999999;
}

.ui.items, .details {
    //height: 40vh;
    overflow: auto;
    flex-grow: 1;
}

.details {
    padding: 2em;
    position: absolute;
    height: 100%;
    width: 100%;
}

.ui.items .item .content .date {
    font-size: 1.1em;
    color: $color-base-gray-600;
    padding: 0.2em;
    padding-bottom: 0.4em;
}

.ui.items .item .content {
    padding-left: 1.2em;
}

.ui.items .item .content .header {
    font-size: 1.2em;
}

.ui.items .image {
    border-radius: 1em 0 0 1em;
    height: 12em;
    width: 12em;
    background-color: #DDDDDD;
    overflow: hidden;
}

.ui.items .item:hover .image img {
    transform: scale(1.3);
}

.ui.items .image img {
    height: 12em;
    width: 12em;
    transform: scale(1);
    will-change: transform;
    transition: all 0.2s ease-in-out 0s;
}

.ui.items .extra, 
.ui.items .interested {
    font-family: 'Public Sans', sans-serif;
}

.ui.items .top_match {
    color: $color-base-green-deep;
}

.MobileCards {
    width: 100%;
}

/* TODO: Why are the overrides needed */
.MobileCards .item {
    background: #FFFFFF;
    border-radius: 1em;
    margin-left: 2%;
    width: 96%;
    min-height: 11em;
}

.item .image,
.item .content {
    float: left;
    height: 100%;
}


.item .content {
    padding-left: 1em;
}