
#header {
    background-color: #811897;
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    background-position: 140px;
    background-size: 36%;
    width: 100%;
    border-radius: 0;
}

#header .ui.dropdown {
    background: rgba(0,0,0,0.4);
    color: #DDDDDD;
}

/* Container */
.content {
    /*
    padding-left: 14vmin;
    padding-right: 14vmin;
    */
}

.collapsed.row.stretched { margin: 0 1rem; }
.collapsed.row.stretched .column { padding: 0; }

.empty_state {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20vmin;
}

/* Top Nav and Controls */  
.menu {
    padding: 1vmin;
}

.navigation {
    top: 0;
    padding: 2vmin;
}

.navigation.mobile {
    position: relative;
    left: 0;
    width: auto;
}

/* TODO: is there a cleaner way to do this with Semantic */
.ui.search {
    float:left;
}

.mobile .ui.search {
    position: fixed;
    top: 2vmin;
    right: 2vmin;
}

.mobile .header {
    text-align: center
}

/* List */
.list_details {
    border-right: solid 1px #999999;
}
.ui.items {
    height: 90vh;
    overflow: auto; 
}

.ui.items .item {
    padding: 1em !important;
}

.ui.items .item .content .date {
    font-size: 1.1em;
    color: #999;
    padding: 0.2em;
    padding-bottom: 0.4em;
}

.ui.items .item .content .header {
    font-size: 1.2em;
}

.ui.items .image {
    height: 10vmin;
    width: 12vmin;
    margin-top: 2vmin !important;
    background-color: #DDDDDD;
}

.ui.items .image img {
    height: 10vmin !important;
}

.details {
    padding: 2vmin;
}

.details .full_description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.details .eta {
    padding-left: 1vmin;
}

.place_cards {
    position: fixed; 
    bottom: 2vmin;
    padding: 1vmin;
    width: 52%;
}

.place_cards .grid {
    padding: 1vmin;
}

.place_cards .segment {
    margin-left: 2vmin;
}

.nearby_place {
    min-width: 30vmin;
}

.place_cards .segment {
    border: solid 3px #C123E8;
    /* TODO: Move to SASS */
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
}

/*Map */
.map_container, .mapboxgl-map {
    border: red;
    width: 100%;
    height: 90vh;
    min-width: 500px;
    min-height: 500px;
    left:0px;
    padding:0;
}
.map {
    height: 100%;
}

.mapboxgl-canvas {
    position: relative !important;
}

.marker {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: #3831AB;
    border: solid 2px #3831AB;
    border-radius: 10vmin;
    cursor: pointer;
    overflow:hidden;
    opacity: 0.8;
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
}

.marker.place {
    background: #C123E8;
    border: solid 2px #C123E8;
 
}

.marker.popular {
    z-index: 10;
}

.marker img {
    visibility: hidden;
}

.marker:hover {
    width: 8vmin !important;
    height: 8vmin !important;
}

.marker.popular img,
.marker:hover img { 
    visibility: visible;
}
/* Round style photos */
.marker img, 
.ui.items .image img {
    object-fit: cover;
}

