/* Container */
.content {
    /*
    padding-left: 14vmin;
    padding-right: 14vmin;
    */
}

.empty_state {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20vmin;

}

/* Top Nav and Controls */

.menu {
    padding: 2vmin;
}

.navigation {
    position: absolute;
    top: 0;
    left: 15vmin;
    padding: 1vmin;
    width: 85vmin;
}

.navigation .header {
    float: left;
}

/* List */
.ui.items {
    height: 90vh;
    overflow: auto; 
}

.ui.items .item .content .date {
    font-size: 1.1em;
    color: #999;
    padding-bottom: 0.4em;
}

.ui.items .item .content .header {
    font-size: 1.2em;
}


/* Map */
.map_container, .mapboxgl-map {
    border: red;
    width: 100%;
    height: 90vh;
    min-width: 500px;
    min-height: 500px;
    left:0px;
    padding:0;
}
.map {
    height: 100%;
}

.mapboxgl-canvas {
    position: relative !important;
}

.marker {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10vmin;
   overflow:hidden;
   border: solid 1px #CCC;
   /*
   width: 2vmin !important;
   height: 2vmin !important;
   */
   opacity: 0.8;
}

/* Round style photos */
.marker img {
   object-fit: cover;
}

