@import 'variables.scss';

html, body, #root, div.App, div.App > div {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#header {
    background-color: #811897;
    background-image: url('./logo.png');
    background-repeat: no-repeat;
    background-position: 140px;
    background-size: 36%;
    height: 6%;
    width: 100%;
    border-radius: 0;
}

#header .ui.dropdown {
    background: rgba(0,0,0,0.4);
    color: #DDDDDD;
    max-height: 3em;
}

#navigation {
    height: 6%;
    min-height: 6em;
}

/* Container */
#content {
    /*
    padding-left: 14vmin;
    padding-right: 14vmin;
    */
    height: 88%;
}

.collapsed.row.stretched { margin: 0 1rem; }
.collapsed.row.stretched .column { padding: 0; }

.empty_state {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20vmin;
}

.mobile .ui.menu {
    margin: 0px;
}

.mobile .menu .dropdown .text {
    display:none;
}

.mobile #scale {
    display: hidden;
}

.mobile .ui.menu.secondary {
    position: absolute;
    width: 100px;
    top: 120px;
    z-index: 10;
}

/*
.mobile .mobileListItem {
    height: 30vmin;
    width: 98vw;
    vertical-align: top;
}
*/

.mobileList::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.mobile .mobileListItem .content {
    width: 50vw;
}

/* List */
.list_details {
    border-right: solid 1px #999999;
}

.ui.items {
    height: 68vh;
    overflow: auto; 
}

.ui.items .item {
    padding: 1em !important;    
}

.ui.items .item .content .date {
    font-size: 1.1em;
    color: #999;
    padding: 0.2em;
    padding-bottom: 0.4em;
}

.ui.items .item .content .header {
    font-size: 1.2em;
}

.ui.items .image {
    height: 10vmin;
    width: 12vmin;
    margin-top: 1vmin !important;
    background-color: #DDDDDD;
    overflow: hidden;
}

.ui.items .item:hover .image img {
    transform: scale(1.3);
}

.ui.items .image img {
    height: 10vmin !important;
    transform: scale(1);
    will-change: transform;
    transition: all 0.2s ease-in-out 0s;
}

.ui.items .extra, 
.ui.items .interested {
    font-family: 'Roboto Condensed', sans-serif;
}

.ui.items .top_match {
    color: $color-green;
}

.details {
    padding: 2vmin;
}

.details .full_description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.details .eta {
    padding-left: 1vmin;
}

.place_cards {
    position: fixed; 
    bottom: 2vmin;
    padding: 1vmin;
    width: 52%;
    z-index: 10;
}

.place_cards .grid {
    padding: 1vmin;
}

.place_cards .segment {
    margin-left: 2vmin;
}

.nearby_place {
    min-width: 30vmin;
}

.place_cards .segment {
    border: solid 3px #C123E8;
    /* TODO: Move to SASS */
    -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.55);
}



