@import 'variables.scss';

/* Map */
.map_container, .mapboxgl-map {
    
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    left:0px;
    padding:0;
}

.mapboxgl-map:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 10;
    pointer-events: none;

    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 80px 5px rgba(74,98,124,0.70);
}

.map_container #scale {
    position: absolute; 
    background-color: $color-purple;
    color: #FFFFFF;
    top: 1.5vmin;
    right: 5.4vmin;
    font-size: 0.7em;
    z-index: 20;
    opacity: 0.6;
    padding: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 10vmin;
}

.mobile .map_container #scale {
    top: unset;
    bottom: 1.4vmin;
    display:none;
}

.mapboxgl-canvas {
    position: relative !important;
}
.marker {
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    /*
    background: #D224B6;
    background-image: url('https://ss3.4sqi.net/img/categories_v2/arts_entertainment/default_64.png');
    */
    background-size: cover;  
    border: solid 1.5px #FFFFFF;
    cursor: help;
    opacity: 1.0;
    /*
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    */
    -webkit-box-shadow: $shadow-purple;
    -moz-box-shadow: $shadow-purple;
    box-shadow: $shadow-purple;
    transition: visibility 0s, opacity 0.5s linear;
}

.marker.arts {
    background-image: url('/images/arts.svg');
}

.marker.food {
    background-image: url('/images/food.svg');
}

.marker.music {
    background-image: url('/images/music.svg');
}

.marker.shopping {
    background-image: url('/images/shopping.svg');
}

.marker.drinking {
    background-image: url('/images/drinking.svg');
}

.marker.outdoors {
    background-image: url('/images/outdoors.svg');
}

.marker.selected {
    /* background-image: url("/images/selected.svg"); */
    display: none;
    transform: scale(1.1);
    z-index: 100;
    -webkit-box-shadow: $shadow-blue;
    -moz-box-shadow: $shadow-blue;
    box-shadow: $shadow-blue;
    transition: visibility 0s, opacity 2.5s linear;
}

.marker.selected svg {
    transition: visibility 0s, opacity 2.5s linear;
}

.marker.selected img {
    display: none;
}

.marker::after {
    width: 2vmin;
    height: 2vmin;
    top: 10px;
}

.marker-popup {
    z-index: 100;
}


.mapboxgl-popup-content {
    font-size: 0.9em;
    font-weight: 600;
}

.here {
    background: #66B5F8;
    border-radius: 50%;
    border: solid 1px #FFFFFF;
    color: #FFFFFF;
    height: 32px;
    width: 32px;
    padding-top: 10px;
    text-align: center;
    line-height: 1em;
    background-color: #0084F4;
    z-index: 100;
}

/* TODO: Inherit this from the marker via React */
.marker-popup .mapboxgl-popup-content {
    /*
    background: #3831AB;
    color: #FFFFFF;
    */
}

.marker.place {
    background-color: #C123E8;
    border: solid 2px #C123E8; 
}

.marker.photo {
    background: none;
    border: none; 
    font-size: 1.4em;
    width: 1.8em;
    height: 1.8em;
}

.marker.popular {
    z-index: 10;
}

.marker {
    overflow: hidden;
}

.marker:hover, .marker:focus {
    transform: scale(1.2);
    will-change: transform;
    transition: all 0.2s ease-in-out 0s;
}

.marker img {
    /* visibility: hidden; */
    border-radius: 50%;
    transform: scale(1.2);
}

.marker:hover img {
    transform: scale(1.4);
}

.marker.photo img {
    visibility: visible;
    width: 2.0em;
    height: 2.0em;
}

.mapboxgl-marker .label {
    position: absolute;
    text-align:center;
    z-index: 10;
}

.mapboxgl-marker .label .name {
    font-size: 0.8em;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 0.8;
    white-space: nowrap;    
    overflow:hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 10em;
    margin-left: -5em;
    text-shadow: 1px 1px 1px rgba(255,255,255,1), 2px 2px 2px rgba(255,255,255,1), 3px 3px 3px rgba(255,255,255,1), 5px 5px 5px rgba(255,255,255,1);
}

.mapboxgl-marker .label .vibe {
    font-size: 0.8em;
    font-style: italic;
    color:  $color-purple;
    font-weight: 600;
    text-shadow: 3px 2px 3px rgba(255,255,255,.8);
    text-align: center;
    width: 10em;
    margin-left: -5em;
}

.marker.popular img,
.marker:hover img { 
    visibility: visible;
}
/* Round style photos */
.marker img, 
.ui.items .image img {
    object-fit: cover;
}