$color-purple : #811897;

$color-green : #27AE6D;

$color-dark-gray: #4F4F4F;

$shadow-purple: 1px 1px 4px 0px rgba(189,21,132,0.55);

$shadow-blue: 1px 1px 6px 1px rgba(210,244,250,1.55);

$icon-size: 1.8em;

$heatmap_1: rgba(218,95,241,0.1);
$heatmap_2: rgba(95,153,241,0.4);
$heatmap_3: rgba(136,235,177,0.6);
$heatmap_4: rgba(220,248,151,0.6);
$heatmap_5: rgba(255,213,0,1);
$heatmap_6: rgba(255,153,0,1);

:export { colorPurple: $color-purple; }

