$color-purple : #811897;

$color-green : #27AE6D;

$color-dark-gray: #4F4F4F;

$shadow-purple: 1px 1px 4px 0px rgba(189,21,132,0.55);

$shadow-blue: 1px 1px 6px 1px rgba(210,244,250,1.55);

$icon-size: 1.8em;

:export { colorPurple: $color-purple; }

