.slider {
    height: 1em;
    min-width: 200px;
    width: 100%;
}

.thumb {
    height: 25px;
    line-height: 25px;
    width: 25px;
    text-align: center;
    background-color: #DDD;
    border: solid 1px #888;
    color: #fff;
    border-radius: 50%;
    cursor: grab;
}

.track {
    background:lightblue;
    height: 0.2em;
    top: 50%;
}
